<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<div id="home">
<div id="header">

<!-- LOGIN-->
<div id="login"><div class="action-link">Login</div></div></div>
<div id="brand">
<div class="icon"></div>
<div class="brand-name">Device Stock</div>
</div>
<div class="clear"></div>

<div id="content">
<form method='post' action='/login'>
<div class="label">email</div>
<input type='text' name='everyauth.password.loginFormFieldName' value='email'/> 
<div class="label">password</div>
<input type='password' name='everyauth.password.passwordFormFieldName'/>
<div> <input type="submit" value="login"/> </div>
</form>
</div>

<!-- FOOTER-->
<div class="clear"></div>
<div id="footer"></div>
</div>
</body>
</html>
