<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<div id="home">
<div id="header">

<!-- LOGIN-->
<div id="login"><div class="action-link">Login</div></div></div>
<div id="brand">
<div class="icon"></div>
<div class="brand-name">Device Stock</div>
</div>
<div class="clear"></div>

<div class="hint">Manage devices stock and certification.</div>
<div class="clear"></div>
<div id="content">
<div id="col1"><img src="images/home.jpg"></div>
<div id="col2">
<ul> Device stock is designed to help you track devices.</ul>
<ul> Certify new devices.</ul>
<ul> Validate certified devices different models.</ul>
</div>
</div>
<div class="clear"></div>
<div id="footer"></div>
</div>
</body>
</html>
